*{
    margin: 0;
    padding:0px;
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    gap:10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.child{
    width: 100px;
    height:100px;
    background-color: #808000;
    color: #fff;
    align-content: center;
    padding: 20px;
}
.child1{
    flex-grow: 1;
}
.child2{
    flex-grow: 2;
}
.child3{
    flex-grow: 0;
}